<div class="card block-bottom">
    <div class="block block-top">
        <h2 class="sub-title">Nom catégorie</h2>
    </div>
    <div class="block services">
        <div class="service service-left">
            <div class="service-name-time">
                <h3>Service</h3>
                <span>Durée service</span>
            </div>
            <p>Description du service</p>

        </div>
        <div class="service-right">
            <span>Tarif</span>
            <button>Réserver</button>
        </div>
    </div>
    <hr />
    <div class="block services">
        <div class="service service-left">
            <div class="service-name-time">
                <h3>Service</h3>
                <span>Durée service</span>
            </div>
            <p>Description du service</p>

        </div>
        <div class="service-right">
            <span>Tarif</span>
            <button>Réserver</button>
        </div>
    </div>
</div>