<div class="sign-in">
  <h1>Connectez-vous</h1>
  <div class="field email">
    <div class="label">
      <label for="email">Adresse email</label>
    </div>
    <input type="input" id="email" name="email" />
  </div>
  <div class="field password">
    <div class="label password-label">
      <label for="password">Mot de passe</label>
      <a href="" class="password-lost">Mot de passe oublié ?</a>
    </div>
    <input type="input" id="password" name="password" />
  </div>
  <app-button label="S'identifier" fontSize="1rem" padding="0.35rem 3rem"></app-button>
  <div class="sign-up">
    <span>Nouveau client?</span>
    <a href="">S'enregistrer'</a>
  </div>
</div>
