<app-company-nav-bar></app-company-nav-bar>

<div class="company">
    <div class="column left">
        <img src="../../assets/images/shop1.jpg" class="company-picture" alt="monEntrerpsie">
        <h1>MonEntreprise</h1>
    </div>
    <div class="column right">
        <div class="block-right address">
            <h2 class="sub-title">Nom entrerpsie</h2>
            <h2>numéro rue, rue</h2>
            <h2>complément adresse</h2>
            <h2>Code postale, ville</h2>
        </div>
        <div class="block-right gift">
            <h2 class="sub-title">Offrir <i class="fa-solid fa-gift"></i></h2>
            <p>Offrez un bon cadeau !</p>
        </div>
        <div class="block-right about">
            <div class="sub-title"><h2>A propos de nous</h2></div>
            <p>L'entreprise monEntreprise propose des services de ......</p>
        </div>
        <div class="block-right store-hours">
            <h2 class="sub-title">Nos horaires</h2>
            <p>Lundi: 8h-19h</p>
            <p>Mardi: 8h-19h</p>
            <p>Mercredi: 8h-19h</p>
            <p>Jeudi: 8h-19h</p>
            <p>Vendredi: 8h-19h</p>
            <p>Samedi: 8h-19h</p>
            <p>Dimanche: 8h-19h</p>
        </div>
        <div class="block-right contact">
            <h2 class="sub-title">Nous contacter</h2>
            <p>04.00.00.00.00</p>
            <p>contactmonEntreprise.fr</p>
        </div>
    </div>
</div>
